.post-timeline {
  border-radius: 20px;
  background-color: #d9d9d9;
  margin: 20px auto;
  max-width: 800px;

  .post-container {
    padding: 20px;

    .user-container {
      display: flex;
      align-items: center;

      .user-info-timeline {
        display: flex;
        gap: 20px;

        .profile-img-timeline {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          border: 1px solid #000000;
        }

        .user-details-timeline {
          display: flex;
          flex-direction: column;

          .username-timeline {
            text-decoration: none;
            color: #000000;
            font-size: 20px;
          }

          .post-upload {
            color: #000000;
            font-size: 12px;
          }
        }
      }
    }

    .content-timeline {
      margin: 20px 0;

      .posted-image {
        width: 100%;
        height: auto;
        max-height: 800px;
        margin-top: 30px;
        object-fit: cover;
        border: 1px solid #000000;
        border-radius: 20px;
      }

      .post-description-timeline {
        color: #000000;
      }
    }

    .action-container {
      display: flex;
      gap: 10px;

      .action-icons {
        display: flex;
        gap: 10px;

        .icon-timeline {
          margin-left: 10px;
          font-size: 20px;
          color: #8b8989;
          cursor: pointer;
        }
      }
    }
  }
}
