.post-creation {
  border-radius: 20px;
  background-color: #d9d9d9;
  margin: 20px auto;
  max-width: 800px;
  margin-bottom: 70px;

  .post-creation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    .profile-img-post-creation,
    icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      border: 1px solid #000000;
    }

    .icon-post-creation {
      font-size: 30px;
      color: #8b8989;
      cursor: pointer;
    }

    .post-input {
      flex-grow: 1;
      margin: 0 50px;
      height: 50px;
    }
  }
}
.username {
  width: auto;
  margin: 0;
}
.usernameContainer {
  display: flex;
  justify-content: left;
  margin-left: 230px;
}
