.flex-container {
  display: flex;
  justify-content: flex-end;
}

.register {
  max-width: 50vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 7rem;
  margin-right: 14rem;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
}
