.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  margin-top: 5px;
  padding: 20px;
}

.setting-buttons {
  display: flex;
  gap: 5px;
}

.setting-buttons button {
  border: 1px solid #3e79a0;
}

.align-center {
  text-align: center;
}
