@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=Shadows+Into+Light&display=swap');
:root {
  background-color: #3e79a0;
  color: #fbfafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
}

.align-right {
  text-align: right;
}

.background-icon {
  background-image: url('/home-page-icon.png');
  height: 90vh;
  background-repeat: no-repeat;
  background-size: 40vw;
  background-position: left 10% top 80%;
  flex: 1;
}

input {
  background-color: #fbfafa;
  border-radius: 10px;
  border-color: transparent;
  padding: 5px;
  width: 300px;
  /* max-width: 250px; */
}

button,
a.button {
  background-color: #fbfafa;
  border-radius: 5px;
  border-color: transparent;
  padding: 5px;
  width: 120px;
  text-decoration: none;
  text-align: center;
  color: #000;
}

a {
  color: #fff;
}
